body {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(143, 156, 235);
    
}
img{
    width: 100%;
}

header {
    margin-top: 75px;
}

#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#info-2{
    background: #f1f1f1;
}

footer {
    background: url(../img/smartphones.png);
}